<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/bootstrap-table.min.js"></script>
<script src="/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
</body>
</html>