<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IONOS Domain-Verwaltung</title>    
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/bootstrap-table.min.css">
    <link rel="stylesheet" href="/font/bootstrap-icons.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.png">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/bootstrap-table.min.js"></script>
    <script src="/js/data-bs-theme.js"></script>
    <script src="/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
</head>
<body>
  <%- include('navbar') -%>
  <!-- <pre>Test <%= JSON.stringify(user, null, 2) %></pre> -->


