<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IONOS Domain-Verwaltung</title>    
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/bootstrap-table.min.css">
    <link rel="stylesheet" href="/font/bootstrap-icons.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.png">


</head>
<body>
  <%- include('navbar') -%>

