<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #00164e;">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="<%= user ? '/fqdn' : '/' %>">
      <img style="height: 30px; width: 30px; margin-right: 10px;" src="/favicon.png" alt="Logo">
      <span class="d-none d-lg-inline text-light">IONOS Domain-Verwaltung</span>
      <!-- Mobiler Text -->
      <span class="d-inline d-lg-none text-light">IONOS Domain-Verwaltung</span>
    </a>
    <div class="ms-auto">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          <%= user ? user.benutzername : 'Anmelden' %>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
          <% if (user && user.isAdmin) { %>
            <li>
              <a class="dropdown-item" href="/admin">
                <i class="bi bi-gear-fill"></i> Admin Panel
              </a>
            </li>
            <li><hr class="dropdown-divider"></li>
          <% } %>
          <li>
            <a class="dropdown-item" href="/profile">
              <i class="bi bi-person-circle"></i> Profil
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="/logout">
              <i class="bi bi-door-open"></i> Abmelden
            </a>
          </li>
          <li><hr class="dropdown-divider"></li>
          <li class="dropdown-header">Theme ändern</li>
          <li>
            <a class="dropdown-item" href="#" id="darkModeToggle">
              <i class="bi bi-moon-stars-fill"></i> Dunkler Modus
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="#" id="lightModeToggle">
              <i class="bi bi-brightness-high-fill"></i> Heller Modus
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<script src="/js/nav-bar.js"></script>